
exercises/easy-1/node_modules
exercises/easy-2/node_modules
exercises/small-problems/easy-3/node_modules
exercises/small-problems/easy-3/package-lock.json
exercises/small-problems/easy-3/package.json
node_modules